@{
    ViewData["Title"] = "Home Page";
    ViewData["HomePage"] = true;
}

<div style="background-color: #B3C8CF">
    <div class="container text-white py-5">
        <div class="row align-items-center g-2">
            <div class="col-md-6">
                <h1 class="mb-5 display-2"><strong>Super Electronics Shop</strong></h1>
                <p>Your one-stop destination for the latest electronics at unbeatable prices. 
                    Discover cutting-edge gadgets, from smartphones to gaming consoles, all backed by fast shipping and top-notch customer service.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="./images/hero.png" class="img-fluid" alt="hero" />
            </div>
        </div>
    </div>
</div>
