@model LoginDto
@{
}

<div class="row">
    <div class="col-md-4 mx-auto rounded border p-4">
        <h2 class="text-center mb-3">Please Log In</h2>
        <hr />
        <form  method="post">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                <label class="form-check-label">Remember Me</label>
            </div>

            <div class="row mb-3">
                <div class="col d-grid">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="col d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index" role="button">Cancel</a>
                </div>
            </div>

            <div>
                <a class="btn btn-link" asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a>
            </div>
        </form>
    </div>
</div>